*~
*.pyc
.installed.cfg
bin
develop-eggs
*.egg-info
tmp
build
dist
/lib
/include
/local
/bin
pyvenv.cfg
venv
.coverage
dist
__pycache__/
/setuptools-12.2.zip
/setuptools-12.3.zip
docs/_build/
.venv/
*.sw[nop]
